<ng-container *ngIf="userBehaviourIndexService.hasLoadedIndex">
  <vs-gadget
  [instanceId]="instanceId"
  minHeight="350"
  [hideTitle]="true"
  [hideFilterButton]="false"
  [hideSettingsButton]="true"
  [filters]="filters"
  [caption]="currentGroupingLabel"
  >
    <apx-chart
      *ngIf="isChartReady && !userBehaviourIndexService.historicIndex?.isIndexing"
      #chartObj
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
    <vs-gadget-error-handler [errorObject]="errorObject" [errorExists]="errorExists">
    </vs-gadget-error-handler>
    <vs-label *ngIf="userBehaviourIndexService.historicIndex?.isIndexing" label="dashBoard.usageSearch.waitForIndexProcess" class="wait-index-message" model="error"></vs-label>
  </vs-gadget>

  <ng-template style="flex: 100%" #filters>
    <vs-form>
      <form content [formGroup]="form" group-2>
        <vs-select formControlName="dateInterval" placeholder="Filtrar por periodo de tempo" [options]="dateTimeIntervalOptions"></vs-select>
        <vs-input formControlName="maxResultCount" placeholder="Quantidade de Apps"></vs-input>
      </form>
    </vs-form>
    <vs-button label="Aplicar" type="save" (clickEvent)="applyFilter()"></vs-button>
  </ng-template>

</ng-container>
<vs-spinner *ngIf="!userBehaviourIndexService.hasLoadedIndex"></vs-spinner>
