:host ::ng-deep {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 4px 12px;

  .description {
    margin: 8px 0 12px;
  }

  .actions {
    display: flex;
    flex: initial;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 16px;

    vs-button {
      $space-between-btn-text-and-spinner: 12px;

      > button:disabled {
        opacity: .7;
        
        .mat-button-wrapper {
          display: flex;
  
          vs-label {
            color: #000;
          }
  
          > vs-spinner {
            padding-left: $space-between-btn-text-and-spinner;
          }
        }
      }
    }
  }
}