<vs-label label="HistoricIndex.Settings.Title"></vs-label>
<vs-label label="HistoricIndex.Settings.Description" class="description"></vs-label>
<vs-spinner *ngIf="!userBehaviourIndexService.hasLoadedIndex"></vs-spinner>
<ng-container *ngIf="userBehaviourIndexService.hasLoadedIndex">
  <div *ngIf="indexSettings.lastModificationTime">
    <vs-label>
      <b>{{ 'HistoricIndex.Settings.LastModificationTime' | translate }}:</b>
      {{ indexSettings.lastModificationTime | date: 'dd/MM/yyyy HH:mm' }}
    </vs-label>
  </div>
  <vs-label *ngIf="indexSettings.hasEsFailedSinceLastReindex"  model="error" label="HistoricIndex.Settings.ShouldReindexMessage"></vs-label>
  <vs-label *ngIf="errorDuringRequest" model="error" label="HistoricIndex.Settings.ErrorDuringReindexCall"></vs-label>
  <div class="actions">
    <vs-button
      *ngIf="!indexSettings.isIndexing"
      type="save"
      label="HistoricIndex.Settings.Actions.Reindex"
      (clickEvent)="reindex()"
    ></vs-button>
    <vs-button *ngIf="indexSettings.isIndexing" [disabled]="true" type="save">
      <vs-label label="HistoricIndex.Settings.Actions.Reindexing"></vs-label>
      <vs-spinner diameter="20"></vs-spinner>
    </vs-button>
  </div>
</ng-container>
