# Managed by migration - initial
viasoft.elt.bi/Pbix/Painel[[:space:]]de[[:space:]]Análise[[:space:]]do[[:space:]]Fluxo[[:space:]]de[[:space:]]Caixa[[:space:]]-[[:space:]]Korp.pbix filter=lfs diff=lfs merge=lfs -text
viasoft.elt.bi/Pbix/Painel[[:space:]]de[[:space:]]Análise[[:space:]]de[[:space:]]Estoque[[:space:]]-[[:space:]]Korp.pbix filter=lfs diff=lfs merge=lfs -text
