<ng-container *ngIf="userBehaviourIndexService.hasLoadedIndex">
  <ng-container *ngIf="!userBehaviourIndexService.historicIndex?.isIndexing">
    <vs-grid [options]="grid"></vs-grid>
  </ng-container>
  <ng-container *ngIf="userBehaviourIndexService.historicIndex?.isIndexing">
    <vs-label class="indexing-message" model="error" label="HistoricIndex.WaitForIndexProcess"></vs-label>
  </ng-container>
</ng-container>
<vs-spinner class="loading-index" *ngIf="!userBehaviourIndexService.hasLoadedIndex">
</vs-spinner>