.buttons {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

:host ::ng-deep {
    vs-dashboard {
        .container-wrapper > div {
            display: flex;
            flex: auto;
            flex-direction: column;
            .wait-index-message {
                display: flex;
                flex: auto;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
}