<div>
    <vs-layout>
        <div actions>
        </div>
            <vs-tab-group content endRouteBase="">
                <div *vsTabLabel="{ title: 'Grid.realTime', route: '/realTime' }"></div>
                <div *vsTabLabel="{ title: 'dashBoard.dashBoard', route: '/dashboard' }"></div>
                <div *vsTabLabel="{ title: 'historic.historic', route: '/historic' }"></div>
                <div *vsTabLabel="{ title: 'HistoricIndex.Settings.Title', route: '/historic-index-settings' }"></div>
            </vs-tab-group>
    </vs-layout>
</div>
