<ng-container>
  <vs-gadget
  [instanceId]="instanceId"
  minHeight="350"
  [hideTitle]="true"
  [hideFilterButton]="true"
  [hideSettingsButton]="true"
  caption="dashBoard.usageSearch.databaseVersionCount"
  >
    <apx-chart
      *ngIf="isChartReady"
      #chartObj
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </vs-gadget>
</ng-container>


